In [13]:
import numpy as np
import pandas as pd

#X = onehotencoder.fit_transform(imagesArray.reshape(-1,1)).toarray()
#y = dataSet["objeto"]
from keras.utils.np_utils import to_categorical
datos = pd.read_csv('ames.csv', nrows= 1e6)

In [48]:

datos.describe()
X = datos.select_dtypes([int, float, 'float64', 'int64']).drop("precio_venta", axis = 1)
X.columns

variables = ["area_parcela","area_piscina","n_chimeneas","n_cocinas","n_dormitorios_sobre_suelo","area_habitable_sobre_suelo", "calidad_general"]

X = X[variables]

X.dropna()
y = datos["precio_venta"]

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X_train, X_test ,y_train,  y_test = train_test_split(X, y)
modelo = LinearRegression()
modelo.fit(X=X_train,
           y=y_train)

y_pred = modelo.predict(X_test)

#print(X_train, X_test)
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)

2006683804.1060147

In [51]:
from sklearn.externals import joblib

joblib.dump(modelo, 'modelo_ames.pkl') 
import json
with open('columnas_names.json', 'w') as fname:
    x_columnas = X.columns.tolist()
    json.dump(x_columnas, fname)
    
x_dtypes = X.dtypes
x_dtypes = {col: X[col].dtype for col in X.columns}
joblib.dump(x_dtypes, 'dtypes_ames.pkl')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

['dtypes_ames.pkl']

,area_parcela,area_piscina,n_chimeneas,n_cocinas,n_dormitorios_sobre_suelo,area_habitable_sobre_suelo,calidad_general
0,31770,0,2,1,3,1656,6
1,11622,0,0,1,2,896,5
2,14267,0,0,1,3,1329,6
3,11160,0,2,1,3,2110,7
4,13830,0,1,1,3,1629,5
...,...,...,...,...,...,...,...
2925,7937,0,0,1,3,1003,6
2926,8885,0,0,1,2,902,5
2927,10441,0,0,1,3,970,5
2928,10010,0,1,1,2,1389,5
2929,9627,0,1,1,3,2000,7