In [50]:
import numpy as np
import pandas as pd

#X = onehotencoder.fit_transform(imagesArray.reshape(-1,1)).toarray()
#y = dataSet["objeto"]
from keras.utils.np_utils import to_categorical
ames = pd.read_csv('ames.csv', nrows= 1e6)

array([ 6,  5,  7,  8,  9,  4,  3,  2, 10,  1], dtype=int64)

In [41]:
np.random.seed(42)


variables_independientes = ames.drop("precio_venta", axis=1).columns
datos_numericos = ames[variables_independientes].select_dtypes([int, float, "float64","int64"])
col_no_numericas = ames[variables_independientes].select_dtypes([object]).columns
col_numericas = datos_numericos.columns

dict_var_ordinales = {
    "calidad_cocinas": ["Po", "Fa", "TA", "Gd", "Ex"],
    "funcionalidad":["Sal", "Sev", "Maj2", "Maj1", "Min2", "Min1","Typ"],
    "calidad_chimeneas":["NA","Po","Fa","TA","Gd","Ex"],
    "acabado_garaje":["NA","Unf","RFn","Fin"],
    "calidad_garaje":["NA","Po","Fa","TA","Gd","Ex"],
    "condicion_garaje":["NA","Po","Fa","TA","Gd","Ex"],
    "acceso_garaje_pavimentado":["N", "P", "Y"],
    "calidad_piscina":["NA","Fa","TA","Gd","Ex"],
    "calidad_valla":["NA","MnWw","GdWo","MnPrv","GdPrv"],
    "forma_parcela":["IR3", "IR2", "IR1","Reg"],
    "tipo_instalaciones":["ELO","NoSeWa","NoSewr","AllPub"],
    "pendiente_parcela":["Sev", "Mod", "Gtl"],
    "calidad_material_exterior":["Po","Fa","TA","Gd","Ex"],
    "condicion_material_exterior":["Po","Fa","TA","Gd","Ex"],
    "altura_sotano":["NA","Po","Fa","TA","Gd","Ex"],
    "condicion_sotano":["NA","Po","Fa","TA","Gd","Ex"],
    "sotano_exterior":["NA","No","Mn","Av","Gd"],
    "calidad_sotano_habitable1":["NA", "Unf", "LwQ", "Rec", "BLQ", "ALQ", "GLQ"],
    "calidad_sotano_habitable2":["NA", "Unf", "LwQ", "Rec", "BLQ", "ALQ", "GLQ"],
     "calidad_calefaccion":["Po","Fa","TA","Gd","Ex"],
    
}

col_ordinales = list(dict_var_ordinales.keys())
datos_ordinales = ames[col_ordinales]
col_categoricas = list(set(col_no_numericas) - set(col_ordinales))
datos_categoricos = ames[col_categoricas]

In [42]:
from sklearn.preprocessing import  Normalizer
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='median')
datos_imputer = imp_mean.fit_transform(datos_numericos);

transformer = Normalizer().fit(datos_imputer)  # fit does nothing.
dator_normalizados = transformer.transform(datos_imputer)
datos_numericos_imputados_normalizados = pd.DataFrame(
    dator_normalizados,
    columns=datos_numericos.columns
)

In [43]:
datos_categoricos_dummy = pd.get_dummies(datos_categoricos, drop_first=True)

In [44]:
for columna_ordinal, valores in dict_var_ordinales.items():
    datos_ordinales[columna_ordinal] = (
    datos_ordinales[columna_ordinal]
    .astype("category")
    .cat.set_categories(valores)
    .cat.codes
)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [49]:

ames_procesado = pd.concat([
    datos_numericos_imputados_normalizados,
    datos_categoricos_dummy,
    datos_ordinales
], axis=1)
variable_objetivo = ["precio_venta"]
variables = ["area_parcela","area_piscina","n_chimeneas","n_cocinas","n_dormitorios_sobre_suelo","area_habitable_sobre_suelo", "calidad_general"]
ames_X = ames_procesado[variables]
ames_y = ames[variable_objetivo]

ames_X["calidad_general"].unique()

array([1.14003182e-08, 9.49938182e-09, 1.13992372e-08, ...,
       5.41477076e-09, 5.41066943e-09, 7.57451934e-09])

In [46]:



from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X_train, X_test ,y_train,  y_test = train_test_split(ames_X, ames_y)
modelo = LinearRegression()
modelo.fit(X=X_train,
           y=y_train)

y_pred = modelo.predict(X_test)

#print(X_train, X_test)
from sklearn.metrics import mean_squared_error
mse = np.sqrt(mean_squared_error(y_test, y_pred))
print(mse)

46736.91831068567

In [47]:
from sklearn.externals import joblib

joblib.dump(modelo, 'modelo_ames.pkl') 
import json
with open('columnas_names.json', 'w') as fname:
    x_columnas = ames_X.columns.tolist()
    json.dump(x_columnas, fname)
    
x_dtypes = ames_X.dtypes
x_dtypes = {col: ames_X[col].dtype for col in ames_X.columns}
joblib.dump(x_dtypes, 'dtypes_ames.pkl')

['dtypes_ames.pkl']

,area_parcela,area_piscina,n_chimeneas,n_cocinas,n_dormitorios_sobre_suelo,area_habitable_sobre_suelo,calidad_general
0,31770,0,2,1,3,1656,6
1,11622,0,0,1,2,896,5
2,14267,0,0,1,3,1329,6
3,11160,0,2,1,3,2110,7
4,13830,0,1,1,3,1629,5
...,...,...,...,...,...,...,...
2925,7937,0,0,1,3,1003,6
2926,8885,0,0,1,2,902,5
2927,10441,0,0,1,3,970,5
2928,10010,0,1,1,2,1389,5
2929,9627,0,1,1,3,2000,7